<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Greeting!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>Hello, dude</div>
<a href="/main">To main</a>
</body>
</html>